In [7]:
weight=350
time=6

In [8]:
if weight > 300 or time < 6:
    status = "try to recruit him"
    print(status)

try to recruit him

In [3]:
status

'try to recruit him'

In [9]:
# # Student Enrol System Gender F => and age >24 Class Timing 9 to 11
# Gender M => or age >20 class Timing 11 to 1

In [17]:
'''
gender = "F"
age = 25

if gender == "M" or age < 20 :
    print("class Timing 11 to 1")
elif gender == "F" and age > 24 :
    print("class Timing 9 to 11")
    
'''

'\ngender = "F"\nage = 25\n\nif gender == "M" or age < 20 :\n    print("class Timing 11 to 1")\nelif gender == "F" and age > 24 :\n    print("class Timing 9 to 11")\n    \n'

In [29]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [30]:
print("Welcome to " + cities[3])

Welcome to Denver

In [31]:
cities.append("New York")
cities.append("uk")

In [32]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'uk']

In [33]:
cities = cities + ["Dubuque", "New Orleans"]

In [34]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'uk',
 'Dubuque',
 'New Orleans']

In [35]:
cities.insert(0, "New York")

In [42]:
cities

['New York',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'uk',
 'Dubuque',
 'New Orleans']

In [56]:
smaller_list_of_cities = cities[:1]

In [57]:
smaller_list_of_cities

['New York']

In [58]:
del cities[0]

In [59]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'uk',
 'Dubuque',
 'New Orleans']

In [60]:
cities.remove("uk")

In [61]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dubuque',
 'New Orleans']

In [64]:
latest_task_accomplished = cities.pop(0)

In [65]:
latest_task_accomplished

'Atlanta'

In [72]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [73]:
fruits=["Apple","Banana"]
for fruit in fruits:
    print(fruit)

Apple
Banana

In [77]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson",
"Great Falls", "Honolulu"]
city_to_check="Honolulus"

In [78]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

In [95]:
std=["Muaaz","uzair","ali"]
std_to_check="uzairs"

In [96]:
for stds in std:
    if std_to_check == stds:
        print("It's one of the my student")
        break
    else:
        print("Sorry its invalid")

Sorry its invalid
Sorry its invalid
Sorry its invalid